
<!-- Footer -->
<footer id="siteFooter" class="bg-gray-dark">
     <div id="finePrint" class="container py-3">
          <div class="row">
               <div class="col text-center">
                    <h5 class="text-uppercase">Qualifications</h5>
                    <p class="mb-0 small">*This offer is only available to customers who have not been subscribed to this magazine within the last 365 days. All orders subject to approval. Limit one free gift per address, as applicable. Free gift cited in your offer is subject to change. By ordering, you agree not to resell any subscriptions purchased from this site.</p>
               </div>
               <nav class="col-12 mt-3">
                    <ul class="navbar-nav flex-row justify-content-center text-center">
                         <li class="nav-item pe-4">
                              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#moneyBackGuarantee" title="Money-Back Guarantee">Money-Back Guarantee</a>
                         </li>
                         <li class="nav-item">
                              <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#contactUs" title="Contact Us">Contact Us</a>
                         </li>
                    </ul>
               </nav>
          </div>
     </div>
     <div id="copyright" class="container-fluid bg-gray-darker py-3">
          <div class="row">
               <div class="col text-center">
                    <p id="copyright" class="m-0"><em><small>© 2022 Watercolor Artist. All rights reserved. Use of this site signifies your agreement to the <a href="https://s31226.p831.sites.pressdns.com/privacy-policy" title="Privacy Policy" target="_blank">Privacy Policy.</a></em></small></p>
               </div>
          </div>
     </div>
</footer>