
<!-- Header -->
<header id="siteHeader" class="bg-white pt-4 d-md-none">
     <div class="container">
          <div class="row">
               <div class="col">
                    <a href="index.php" class="d-flex align-items-center mb-3 mb-md-0 text-dark text-decoration-none">
                         <img id="logo" class="img-fluid d-block mx-auto" src="images/WCM_NEW_MAY_22.jpg" alt="Watercolor Artist Magazine" />
                    </a>
               </div>
          </div>
     </div>
</header>