
<head>
     <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <title>{{title}} Subscribe to Watercolor Artist Magazine</title>
     <!-- Favicon -->
     <link rel="icon" href="{{webRoot}}/favicon.ico">
     <!-- Main JS -->
     <script type="module" src="{{webRoot}}/js/main.js"></script>
     <!-- Font Awesome -->
     <script src="https://kit.fontawesome.com/e30d92bf89.js" crossorigin="anonymous"></script>
</head>
<body>
     {{> partials/structure/header }}

     <!-- Body Content Start -->
     <main id="subscriptionWrapper" class="bg-white">
