
<!-- Start Form Fine Print -->
<div id="formFinePrint" class="row px-1 px-lg-3 m-3 bg-gray-lighter rounded border">
	<div class="col-12 mt-3 mb-2">
		<p class="mb-1 small fw-bold">Subscriber Auto Renewal Advantage</p>
		<p class="small">Your subscription features our uninterrupted service guarantee and will be automatically renewed unless you tell us to stop. Before the start of each renewal period, you will be sent a reminder notice stating the term and renewal rate then in effect. If you do nothing, you authorize that your credit/debit card will be charged the amount on the notice. You may cancel at any time by contacting customer service at 1-800-811-9834 (U.S.), 1-386-246-3371 (Int'l) and receive a full refund for unserved issues.</p>

		<p class="mb-1 small fw-bold">Money-Back Guarantee</p>
		<p class="small"><a href="" data-bs-toggle="modal" data-bs-target="#contactUs" title="Contact Us">Contact Us</a> any time to take advantage of our No Questions Asked <a href="" data-bs-toggle="modal" data-bs-target="#moneyBackGuarantee" title="Money-Back Guarantee">Money-Back Guarantee</a>.</p>

		<p class="mb-1 small fw-bold">Delivery Information</p>
		<p class="small"><span class="fw-normal text-uppercase">New Subscriptions: </span>If the Post Office alerts us that your magazine is undeliverable, we have no further obligation unless we receive a corrected address within one year. All orders are subject to approval. Please allow 4-8 weeks for your first issue to arrive.</p>
		<p class="small"><span class="fw-normal text-uppercase">Renewals: </span>Renewals orders will be added to your existing subscription to ensure uninterrupted service. Your name and address will be used to automatically identity your existing subscription. If you change your address and the Post Office alerts us that your magazine is undeliverable, we have no further obligation unless we receive a corrected address within one year.</p>
	</div>
</div>