
<!-- Start Modal Container -->
<section id="modalContainer">
     <!-- Address Fit Modal -->
     <div class="modal fade" id="addressDoesntFit" tabindex="-1" aria-labelledby="addressDoesntFit" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                    <div class="modal-header bg-gray-lighter">
                         <h4 class="modal-title" id="addressDoesntFit">My Address Doesn't Fit</h4>
                         <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">
                         <ul class="m-0">
                              <li>Please note that your address must fit in the allotted space due to the size and space limitations of the magazine's mailing label. Longer addresses can be accommodated by abbreviating (e.g., Drive to Dr.)</li>
                         </ul>
                    </div>
                    <div class="modal-footer">
                         <a class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                    </div>
               </div>
          </div>
     </div>
     <!-- Money-Back Guarantee Modal -->
     <div class="modal fade" id="moneyBackGuarantee" tabindex="-1" aria-labelledby="moneyBackGuarantee" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                    <div class="modal-header bg-gray-lighter">
                         <h4 class="modal-title" id="moneyBackGuaranteeLabel">Money-Back Guarantee</h4>
                         <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">
                         <p>If during your subscription term, or up to one year after the magazine becomes undeliverable or you are ever dissatisfied with your subscription, let us know. You will receive a full refund on all unmailed issues. No questions asked.</p>
                         <p class="mb-0">You can cancel your subscription at any time by contacting customer service. You will receive a full refund for all unmailed issues remaining in your subscription. Refunds will be issued back to the original form of payment. Please allow one billing cycle for refunds to reflect on your bank or credit card statement.</p>
                    </div>
                    <div class="modal-footer border-0 border-top bg-gray-lighter">
                         <a class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                    </div>
               </div>
          </div>
     </div>
     <!-- Contact Us Modal -->
     <div class="modal fade" id="contactUs" tabindex="-1" aria-labelledby="contactUs" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered">
               <div class="modal-content">
                    <div class="modal-header bg-gray-lighter">
                         <h4 class="modal-title" id="contactUsLabel">Contact Us</h4>
                         <a class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                    </div>
                    <div class="modal-body">
                         <p class="fw-normal">Golden Peak Media Customer Service</p>
                         <p><i class="bi bi-telephone text-primary me-2"></i><span class="fw-normal">US:</span> 1-800-811-9834</p>
                         <p><i class="bi bi-telephone text-primary me-2"></i><span class="fw-normal">Intl:</span> 1-386-246-337</p>
                         <p class="mb-0"><i class="bi bi-geo-alt text-primary me-2"></i>500 Golden Ridge Rd, Golden, CO 80401</p>
                    </div>
                    <div class="modal-footer border-0 border-top bg-gray-lighter">
                         <a class="btn btn-primary" data-bs-dismiss="modal">Close</a>
                    </div>
               </div>
          </div>
     </div>
</section>