
<!-- Start Subscription Nav -->
<nav id="subscriptionNav" class="btn-group">
     <a title="Subscribe" href="index.html" class="btn btn-primary">Subscribe</a>
     <a title="Give A Gift" href="giveagift.html" class="btn btn-primary">Give A Gift</a>
     <a title="Renew" href="renew.html" class="btn btn-primary">Renew</a>
</nav>